<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070695324049-a8f7shh37vovdpakggdagevgla98t7aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070695324049-a8f7shh37vovdpakggdagevgla98t7aj</string>
	<key>API_KEY</key>
	<string>AIzaSyC6Hg-Tb753L81MT2zywxhwL07hqXDFBMw</string>
	<key>GCM_SENDER_ID</key>
	<string>1070695324049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dawid.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e4ab0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e4ab0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070695324049:ios:13527ab1d74b60e79da230</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-e4ab0.firebaseio.com</string>
</dict>
</plist>